// backgrounds
background = #eeeeee
backgroundDarkGreen = #0b6739
bgGreen = #468112
bgGreen2 = #639000
bgLightGray2 = #f4f4f4
bgLightGray3 = #dfdfdf
bgMediumGray = #818181
bgDarkGray = #5b5b5b

// borders
borderGreen = #94c700
borderDarkGreen = #74a046
borderGray= rgba(0, 0, 0, 0.2)
borderLightGray = rgba(0, 0, 0, 0.1)

// text
textDarkGreen = #0a5530
textGreen = #759e00
textGray = #939393
textGray2 = #8c8c8c
textDarkGray = #444444
textPink = #fd2f74

// gradiants
lightGreenGradient = linear-gradient(0deg, textGreen 0%, borderGreen 100%)
lightOrangeGradient = linear-gradient(0deg, #fa4800 0%, #fb6a00 100%)
lightPinkGradient = linear-gradient(0deg, #ce225d 0%, buttonPink 100%)

// others
buttonPink = #fd2d73
inputDarkGray = #454142
