@require './constants'

body
  background-color background
  color inputDarkGray
  font-family 'Open Sans', sans-serif
  margin 0
  padding 0
  border 0
  vertical-align baseline
  *
    box-sizing border-box

label
  display: inline;
  color: #759e00;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-right: 10px;

#pageContainer
  display flex
  flex-direction column
  min-width 800px
  position relative

#mainContainer
  width 1200px
  margin 0 auto
  margin-top 30px

.bar canvas
  width 700px !important
  height 400px !important

.pie canvas
  width 700px !important
  height 350px !important

.line canvas
  width 700px !important
  height 400px !important
